*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(177, 84, 3);
}

section{
    background-color: rgb(171, 171, 171);
    margin: 50px;
    border-radius: 50px;
}

header h1{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    border-radius: 50px 50px 0px 0px;
}

.ingredientes-foto{
    display: flex;
}

.ingredientes{
    width: 70%;
}

.imagem{
    width: 30%;
}

.imagem img{
    width: 100%;
}

h2{
    text-align: center;
    font-size: 30px;
    padding: 20px 200px;
}

footer{
    text-align: center;
}

footer a{
    font-style: italic;
    text-decoration: none;
}


