@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mooli&family=Onest&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

body {
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    opacity: 0.5;
    font-size: 60px;
    text-align: center;
    color: rgb(167, 54, 167);
}

form{
    box-shadow: 0 5px 10px rgb(167, 54, 167);
    max-width: 100%;
    width: 400px;
}