.grid-fotos-content {
    display: flex;
    flex-direction: column;
    margin: 0, auto;
    max-width: 100rem;
    justify-content: center;
    overflow-x: hidden;
}

.grid-fotos-titulo {
    padding-top: 8rem;
    padding-left: 3rem;
    font-size: 8rem;
}

.grid-fotos-subtitulo {
    font-style: italic;

}

.grade-de-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.conteiner-img {
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;
    overflow: hidden;

}

.conteiner-img img {
    transition: all 300ms ease-in-out;
}

.conteiner-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/* .conteiner-img .img-info {
}

.conteiner-img .img-info p {} */