@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mooli&family=Onest&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

body {
    background-color: rgb(234, 131, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    height: 60%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

h1 {
    color: rgba(255, 255, 255, 0.744);
    font-size: 26px;
}

h1::first-letter{
    text-transform: capitalize;
}

span {
    font-size: 100px;
    color: white;
}

button {
    border: none;
    background-color: rgb(234, 131, 148);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover{
    background-color: rgba(234, 131, 148, 0.605);
}

