
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.child{
    height: 200px;
    width: 200px;
    background-color: pink;
    color: black;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
}

.father{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}

.child2{
    height: 50px;
    width: 50px;
    background-color: rgb(252, 100, 245);
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgb(26, 0, 129); 
}

div.child.especial{
    justify-content: center;
    align-items: center;
    
}