@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to top,black, rgba(255, 251, 0, 0.767));
    min-height: 100vh;
}

main{
    display: inline-block;
    position: relative; /** */
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.poke-img{
    position: absolute; /** */
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    /* height: 18%; */
}

.poke-info{
    position: absolute;
    top: 55%;
    right: 30%;
    color: #aaa;
    font-weight: bold;
    font-size: clamp(8px, 5vw, 25px);
}

.name-poke{
    text-transform: capitalize;
    color: #818080b4;
}

.formulario{
    position: absolute;
    top: 68%;
    left: 13%;
    width: 65%;
}

.input-search{
    width: 100%;
    outline: none;
    padding: 5%;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(158, 158, 158);
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 rgb(114, 10, 10), -5px 7px 0 #00000086;
}

.botoes{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    display: flex;
    transform: translate(-57%, 0);
    gap: 20px;
}

.botao{
    width: 50%;
    padding: 5%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: bold;
    box-shadow: -2px 3px 0 rgb(114, 10, 10), -4px 6px 0 #00000086;
    background-color: rgb(255, 255, 255);
}

.botao:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}