@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body{
    background-color: rgb(38, 89, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form{
    background-color: rgb(194, 1, 1);
    color: white;
    width: 60%;
    height: 30%;
}

h1{
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

.conteiner-info{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86%;
    padding-bottom: 20px;
}

.info{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

label{
    margin-top: 10px;
    font-size: 18px;
    font-style: bold;
}

input{
    width: 100%;
    height: 30px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
}

input::placeholder{
    color: rgba(255, 255, 255, 0.408);
}

input:focus{
    background-color: rgba(0, 0, 0, 0.71);
    outline: none;
}
